<app-header></app-header>
<p>Bienvenido {{user}}</p>
<button (click) = "salir()">salir</button>
<h1>ANGULAR</h1>
<p>
Angular es un marco de desarrollo de aplicaciones web de código abierto mantenido por Google y una comunidad de desarrolladores individuales y corporativos. Angular es una plataforma completa que permite construir aplicaciones web de una manera modular y mantenible. Utiliza el lenguaje de programación TypeScript, que es un superset de JavaScript, para facilitar el desarrollo y mantenimiento del código.
Algunas características clave de Angular incluyen:
1. Arquitectura basada en componentes: Angular se basa en una arquitectura de componentes, donde cada componente es una pieza independiente y reutilizable de la interfaz de usuario con su lógica y presentación.
2. Enlace bidireccional de datos: Angular proporciona enlace bidireccional de datos, lo que significa que los cambios en la interfaz de usuario se reflejan automáticamente en el modelo y viceversa, simplificando la gestión de datos.
3. Inyección de dependencias: Angular utiliza un sistema de inyección de dependencias que facilita la gestión de las dependencias y promueve la creación de código más modular y testeable.
4. Directivas: Angular utiliza directivas para extender el comportamiento de las etiquetas HTML, lo que facilita la creación de funcionalidades personalizadas.
5. Módulos: Los módulos en Angular ayudan a organizar la aplicación en bloques funcionales, facilitando la escalabilidad y el mantenimiento.
</p>
<h1>JavaScript:</h1>
<p>
JavaScript es un lenguaje de programación de alto nivel y orientado a objetos que se utiliza principalmente en el desarrollo web. Es un lenguaje interpretado, de tipado dinámico y débilmente tipado, lo que significa que puedes escribir y ejecutar código sin necesidad de compilación previa.
Algunas características clave de JavaScript incluyen:
1. Interactividad en el navegador: JavaScript se utiliza principalmente para agregar interactividad a las páginas web. Puedes manipular el contenido HTML, cambiar estilos, gestionar eventos del usuario y más.
2. Lenguaje de scripting del lado del cliente: JavaScript se ejecuta en el navegador del usuario, lo que lo convierte en un lenguaje de scripting del lado del cliente. Esto permite la creación de experiencias de usuario dinámicas y ricas.
3. Asincronía: JavaScript es conocido por su modelo de ejecución asincrónica, que permite realizar operaciones de entrada/salida sin bloquear la ejecución del resto del código. Esto es fundamental para manejar eventos y realizar solicitudes a servidores de manera eficiente.
4. Compatibilidad con múltiples plataformas: JavaScript no está limitado solo al navegador. Con el auge de Node.js, también se puede utilizar en el lado del servidor para construir aplicaciones de servidor.
5. Ecosistema extenso: JavaScript cuenta con un amplio ecosistema de bibliotecas y marcos de trabajo, como React, Vue.js y, por supuesto, Angular, que facilitan el desarrollo de aplicaciones complejas.
En resumen, Angular es un marco de desarrollo web completo y estructurado mantenido por Google, mientras que JavaScript es un lenguaje de programación esencial para el desarrollo web y más allá, que se utiliza para agregar interactividad a las páginas web y crear experiencias de usuario dinámicas. Angular utiliza JavaScript, en particular TypeScript, como su lenguaje principal para el desarrollo de aplicaciones web.
</p>