ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #082936;
}

li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #64CCC5;
}
  
form {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: #000;
    border-radius: 10px;
    box-shadow: 0 0 10px #176B87;
}
  
form h1, label{
    color: #64CCC5;
    text-align: center;
}
  
input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
}
  
button {
    width: 100%;
    background-color: #64CCC5;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #176B87;
    color: white;
}
  