ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #082936;
  border-radius: 20px;
}
  
li {
  float: left;
}
  
li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  margin: 5px;
  padding: 10px;
}
  
li a:hover:not(.active) {
  background-color: #176B87;
}
  
.active {
  background-color: #64CCC5;
}